chromadb==0.6.3
fastapi==0.115.11
google-ai-generativelanguage==0.6.16
google-api-core==2.24.1
google-auth==2.38.0
groq==0.18.0
huggingface-hub==0.29.1
kubernetes==32.0.1
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.40
langgraph==0.3.2
langsmith==0.3.11
openai==1.65.2
pydantic==2.10.6
tiktoken==0.9.0
